table {
	thead {
		tr {
			th {
				&:nth-child(1) {
					width: 20%;
				}

				&:nth-child(2) {
					width: 50%;
				}

				&:nth-child(3) {
					width: 15%;
				}

				&:nth-child(4) {
					width: 100px;
				}
			}
		}
	}
}

.wrap {
	padding: 10px;

	.item {
		margin-right: 8px;
		margin-bottom: 12px;
	}
}
